@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400;600;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
}

.parent {
    position: relative;
    width: 1440px;
    height: 804px;
    left: 0px;
    top: 0px;
    background: #FFFFFF;
}

.foodTruckIcon {
    position: absolute;
    width: 107px;
    height: 83px;
    left: 100px;
    top: 33px;
    background: url(./data/Screenshot_669\ 1.png);
}

.homeImgLayout {
    width: 752px;
    height: 839px;
    z-index: 2;
    position: absolute;
}

.vector {
    position: absolute;
    width: 752px;
    height: 839px;
    left: 688px;
    top: 0px;

}

.homeImg {
    position: absolute;
    width: 735px;
    height: 804px;
    left: 705px;
    top: 5px;
    background: url(./data/Rectangle\ 400.png);
    background-size: cover;
    border-radius: 0px 0px 0px 198.902px;
}

.homeHeaderTxt {
    position: absolute;
    width: 345px;
    height: 207px;
    left: 100px;
    top: 227px;
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 700;
    font-size: 62px;
    line-height: 69px;
    color: #0E2368;

}

.homeSubTxt {
    position: absolute;
    width: 345px;
    height: 55px;
    left: 100px;
    top: 460px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16.4447px;
    line-height: 27px;
    color: #444957;
}

.exploreBtn {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 14px 34px;
    gap: 7px;
    position: absolute;
    width: 190px;
    height: 63px;
    left: 97px;
    top: 556px;
    background: #E23744;
    border-radius: 34px;
}

.exploreBtnTxt {
    width: 121px;
    height: 36px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 36px;
    letter-spacing: 0.01em;
    color: #FFFFFF;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.getInTouch {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 3px 26px;
    gap: 10px;
    position: absolute;
    width: 122px;
    height: 42px;
    left: 1277px;
    top: 32px;
    border: 1px solid #FFFFFF;
    border-radius: 21px;
    z-index: 99;
    background-color: #E23744;
}

.getInTouchTxt {
    width: 99px;
    height: 36px;
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 36px;
    letter-spacing: 0.03em;
    color: #FFFFFF;
    flex: none;
    order: 0;
    flex-grow: 0;
    z-index: 99;
}

.aboutParent {
    position: absolute;
    width: 1440px;
    height: 653px;
    left: 0px;
    top: 803px;
    background: #FFFFFF;
}

.aboutUsCard {
    position: absolute;
    width: 1440px;
    height: 467px;
    left: 0px;
    top: 186px;
    background: linear-gradient(90.07deg, rgba(30, 42, 93, 0.04) 30.91%, rgba(48, 62, 130, 0.04) 64.79%, rgba(60, 80, 157, 0.04) 91.94%);
}

.aboutUsImg {
    position: absolute;
    width: 384px;
    height: 468px;
    left: 205px;
    background: url(./data/pharmasict-serving-customer-drug-store\ 1.png);
}

.aboutUsContentParent {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 21px;
    position: absolute;
    width: 447px;
    height: 254px;
    left: 789px;
    top: 107px;
}

.aboutUsHeader {
    width: 422px;
    height: 26px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 45px;
    line-height: 27px;
    color: #0E2368;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.aboutUsContent {
    width: 447px;
    height: 138px;

    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 27px;
    color: #444957;
    flex: none;
    order: 1;
    flex-grow: 0;
}

.readMoreBtn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 3px 26px;
    gap: 10px;
    width: 132px;
    height: 42px;
    background: #E23744;
    border-radius: 21px;
    flex: none;
    order: 1;
    flex-grow: 0;
}

.readMoreBtnTxt {
    width: 80px;
    height: 36px;
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 36px;
    letter-spacing: 0.03em;
    color: #FFFFFF;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.latestArticleParent {
    width: 1440px;
    height: 995px;
    position: absolute;
    top: 1455px;
}

.latestArticleCard {
    position: absolute;
    width: 1225px;
    height: 679px;
    left: 108px;
    top: 158px;
}

.latestArticleCardHeader {
    width: 461px;
    height: 84px;
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 600;
    font-size: 56px;
    line-height: 42px;
    letter-spacing: 0.04em;
    color: #0E2368;
}

.cardStructure {
    box-sizing: border-box;
    width: 381px;
    height: 554px;
    background: #FFFFFF;
    border: 1.37039px solid rgba(147, 162, 211, 0.38);
    border-radius: 20.937px;
}

.cardImg {
    margin-top: 27px;
    margin-left: 27px;
    width: 326px;
    height: 257px;
    border-radius: 21px;
}

.cardHeaderTxt {
    margin-top: 35.51px;
    margin-left: 43.17px;
    width: 285px;
    height: 27px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 21px;
    line-height: 27px;
    color: #0E2368;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.cardContentTxt {
    width: 295px;
    height: 81px;
    margin-top: 14px;
    margin-left: 43.17px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 27px;
    letter-spacing: -0.02em;
    color: #444957;
    flex: none;
    order: 1;
    flex-grow: 0;
}

.cardBtn {
    margin-top: 30.41px;
    margin-left: 43.17px;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 3px 26px;
    gap: 10px;
    width: 131px;
    height: 42px;
    border: 1px solid #424961;
    border-radius: 21px;
    flex: none;
    order: 1;
    flex-grow: 0;
    background-color: white;
}

.cardBtnTxt {
    width: 79px;
    height: 36px;
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 600;
    font-size: 16.4447px;
    line-height: 36px;
    letter-spacing: 0.03em;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.cardsContainer {
    position: absolute;
    top: 125px;
    height: 554px;
    display: flex;
    gap: 41px;
}

.pagenationParent {
    position: absolute;
    left: 663px;
    bottom: 65px;
    display: flex;
    gap: 14px;
}

.pagenationTxt {
    width: 30px;
    height: 28px;
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 27px;
    color: #424961;
    display: flex;
    align-items: center;
    justify-content: center;
}

.prevPageBtn {
    box-sizing: border-box;
    width: 28px;
    height: 29px;
    border: 1px solid #AFAFAF;
    border-radius: 5px;
    background-color: white;
    font-size: x-large;
}

.nextPageBtn {
    box-sizing: border-box;
    width: 28px;
    height: 29px;
    border: 1px solid #424961;
    color: #424961;
    border-radius: 5px;
    background-color: white;
    font-size: x-large;
}

.disabled {
    border: 1px solid #AFAFAF;
    color: #AFAFAF;
}


.footerParent {
    position: absolute;
    width: 1440px;
    height: 362px;
    left: 1px;
    top: 2451px;
    background: #F8F8F8;
}

.footerIcon {
    position: absolute;
    width: 161px;
    height: 125px;
    left: 103px;
    top: 123px;
    background: url(./data/Screenshot_669\ 1.png);
    background-repeat: no-repeat;
}

.contactUs {
    position: absolute;
    width: 232px;
    height: 186px;
    left: 474px;
    top: 84px;

}

.contactUsHeader {
    width: 94px;
    height: 27px;
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 600;
    font-size: 18.8433px;
    line-height: 27px;
    letter-spacing: 0.03em;
    color: #0E2368;
}

.contactUsFeilds {
    list-style: none;
    width: 217px;
    height: 69px;
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 14.6559px;
    line-height: 23px;
    color: #646874;
}

.contactUsFeilds li {
    margin-top: 15px;
    margin-bottom: 15px;
}

.more {
    position: absolute;
    width: 232px;
    height: 186px;
    left: 898px;
    top: 84px;

}

.moreHeader {
    width: 94px;
    height: 27px;
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 600;
    font-size: 18.8433px;
    line-height: 27px;
    letter-spacing: 0.03em;
    color: #0E2368;
}

.moreFeilds {
    list-style: none;
    width: 217px;
    height: 69px;
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 14.6559px;
    line-height: 23px;
    color: #646874;
}

.moreFeilds li {
    margin-top: 15px;
    margin-bottom: 15px;
}

.socialLinks {
    position: absolute;
    width: 232px;
    height: 186px;
    left: 1207px;
    top: 84px;

}

.socialLinksHeader {
    width: 129px;
    height: 27px;
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 600;
    font-size: 18.8433px;
    line-height: 27px;
    letter-spacing: 0.03em;
    color: #0E2368;
}

.socialLinksFeilds {
    list-style: none;
    width: 217px;
    height: 69px;
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 14.6559px;
    line-height: 23px;
    color: #646874;
}

.socialLinksFeilds li {
    display: inline-block;
    margin-top: 12px;
    width: 21px;
    height: 21px;
    margin-right: 36.59px;
}

.copyRight {
    position: absolute;
    width: 197px;
    height: 25px;
    left: 1139px;
    top: 245px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14.6559px;
    line-height: 25px;
    text-align: center;
    color: #828B9C;
}



@media screen and (max-width: 375px) {
    .parent {
        position: relative;
        width: 375px;
        height: 804px;
        left: 0px;
        top: 0px;
        background: #FFFFFF;
    }

    .foodTruckIcon {
        display: none;
        position: absolute;
        width: 107px;
        height: 83px;
        left: 100px;
        top: 33px;
        background: url(./data/Screenshot_669\ 1.png);
    }

    .homeImgLayout {
        width: 375px;
        height: 426px;
        z-index: 2;
        position: absolute;
    }

    .vector {
        position: absolute;
        width: 375px;
        height: 426px;
        left: 3px;
        top: 0px;

    }

    .homeImg {
        position: absolute;
        width: 378.21px;
        height: 413.72px;
        left: 0px;
        top: 0px;
        background: url(./data/Rectangle\ 400.png);
        background-size: cover;
        border-radius: 0px 0px 0px 102.35px;
    }

    .homeHeaderTxt {
        position: absolute;
        width: 240px;
        height: 130px;
        left: 67px;
        top: 489px;
        font-family: 'Source Sans Pro';
        font-style: normal;
        font-weight: 700;
        font-size: 38px;
        line-height: 46px;
        text-align: center;
        color: #0E2368;
    }

    .homeSubTxt {
        position: absolute;
        width: 249px;
        height: 36px;
        left: 63px;
        top: 640px;
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 11px;
        line-height: 18px;
        text-align: center;
        color: #444957;

    }

    .exploreBtn {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 12px 30px;
        gap: 6px;
        position: absolute;
        width: 120px;
        height: 40px;
        left: 127px;
        top: 704px;
        background: #E23744;
        border-radius: 30px;
        border: none;
    }

    .exploreBtnTxt {
        width: 83px;
        height: 32px;
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 700;
        font-size: 12.2664px;
        line-height: 32px;
        letter-spacing: 0.01em;
        color: #FFFFFF;

    }

    .getInTouch {
        box-sizing: border-box;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 4px 33px;
        gap: 13px;
        position: absolute;
        width: 87.89px;
        height: 31px;
        left: 268.55px;
        top: 18px;
        border: 1px solid #FFFFFF;
        border-radius: 27px;
        z-index: 99;
        background-color: #E23744;
    }

    .getInTouchTxt {
        width: 64px;
        height: 27px;
        font-family: 'Source Sans Pro';
        font-style: normal;
        font-weight: 600;
        font-size: 11px;
        line-height: 46px;
        display: flex;
        align-items: center;
        letter-spacing: 0.03em;
        color: #FFFFFF;
        flex: none;
        order: 0;
        flex-grow: 0;
        z-index: 99;
    }

    .aboutParent {
        position: absolute;
        width: 375px;
        height: 516px;
        left: 0px;
        top: 808px;
    }

    .aboutUsCard {
        position: absolute;
        top: 0;
        width: 375px;
        height: 516px;
        background: #F0F1F7;
    }

    .aboutUsImg {
        position: absolute;
        width: 384px;
        height: 468px;
        left: 205px;
        background: url(./data/pharmasict-serving-customer-drug-store\ 1.png);
        display: none;
    }

    .aboutUsContentParent {
        position: absolute;
        width: 275px;
        height: 235px;
        left: 50px;
        top: 140px;
    }

    .aboutUsHeader {
        position: absolute;
        width: 120px;
        height: 35px;
        left: 77px;
        top: 0px;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 600;
        font-size: 26px;
        line-height: 35px;
        text-align: center;
        color: #0E2368;
    }

    .aboutUsContent {
        position: absolute;
        width: 275px;
        height: 138px;
        top: 56px;
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 11px;
        line-height: 21px;
        text-align: center;
        color: #444957;
    }

    .readMoreBtn {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 4px 33px;
        gap: 13px;
        position: absolute;
        width: 96px;
        height: 25px;
        left: 89px;
        bottom: 0px;
        background: #E23744;
        border-radius: 27px;
    }

    .readMoreBtnTxt {
        width: 53px;
        height: 46px;
        font-family: 'Source Sans Pro';
        font-style: normal;
        font-weight: 600;
        font-size: 11px;
        line-height: 46px;
        letter-spacing: 0.03em;
        color: #FFFFFF;
        flex: none;
        order: 0;
        flex-grow: 0;
        border: none;
    }

    .latestArticleParent {
        position: absolute;
        width: 375px;
        height: 1915px;
        left: 0px;
        top: 1324px;
        background: #FFFFFF;
    }

    .latestArticleCard {
        position: absolute;
        width: 271px;
        left: 52px;
        top: 132px;
    }

    .latestArticleCardHeader {
        width: 217px;
        position: absolute;
        left: 28px;
        height: 54px;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 600;
        font-size: 28px;
        line-height: 54px;
        letter-spacing: 0.04em;
        color: #0E2368;
    }

    .cardStructure {
        box-sizing: border-box;
        min-width: 271px;
        max-width: 271px;
        min-height: 484px;
        max-height: 484px;
        background: #FFFFFF;
        border: 0.876168px solid #373737;
        border-radius: 26.7725px;
        text-align: center;
    }

    .cardImg {
        margin-top: 40px;
        width: 204px;
        height: 166px;
        border-radius: 27px;
    }

    .cardImageOrig {
        object-fit: cover;
        width: 204px;
        height: 166px;
    }

    .cardHeaderTxt {
        margin-top: 39px;
        margin-left: 19px;
        width: 236px;
        height: 35px;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 35px;
        letter-spacing: 0.05em;
        color: #0E2368;

    }

    .cardContentTxt {
        margin-top: 6px;
        margin-left: 28px;
        width: 213px;
        height: 106px;
        font-family: 'Source Sans Pro';
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 22px;
        letter-spacing: -0.01em;
        color: #444957;
    }

    .cardBtn {
        margin-top: 26px;
        margin-left: 76px;
        box-sizing: border-box;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 4px 33px;
        gap: 13px;
        width: 118px;
        height: 26px;
        border: 2px solid #424961;
        border-radius: 27px;
    }

    .cardBtnTxt {
        width: 53px;
        height: 46px;
        font-family: 'Source Sans Pro';
        font-style: normal;
        font-weight: 600;
        font-size: 11px;
        line-height: 46px;
        letter-spacing: 0.03em;
        color: #424961;
        flex: none;
        order: 0;
        flex-grow: 0;
    }

    .cardsContainer {
        position: absolute;
        top: 125px;
        width: 271px;
        display: flex;
        flex-direction: column;
    }

    .pagenationParent {
        position: absolute;
        left: 156px;
        bottom: 52px;
        display: flex;
        gap: 14px;
    }

    .pagenationTxt {
        width: 17px;
        height: 16px;
        font-family: 'Source Sans Pro';
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 27px;
        color: #424961;
    }

    .prevPageBtn {
        box-sizing: border-box;
        width: 16px;
        height: 16px;
        border: 1px solid #AFAFAF;
        border-radius: 5px;
        background-color: white;
        font-size: small;
    }

    .nextPageBtn {
        box-sizing: border-box;
        width: 16px;
        height: 16px;
        border: 1px solid #424961;
        color: #424961;
        border-radius: 5px;
        background-color: white;
        font-size: small;
    }

    .disabled {
        border: 1px solid #AFAFAF;
        color: #AFAFAF;
    }


    .footerParent {
        position: absolute;
        width: 376px;
        height: 608px;
        left: -1px;
        top: 3239px;

        background: #F8F8F8;
    }

    .footerIcon {
        position: absolute;
        width: 75px;
        height: 58px;
        left: 149px;
        top: 52px;
        background: url(./data/Screenshot_669\ 1.png);
        background-repeat: no-repeat;
        background-size: cover;
    }

    .contactUs {
        position: absolute;
        width: 232px;
        height: 186px;
        left: 41px;
        top: 152px;

    }

    .contactUsHeader {
        width: 119px;
        height: 35px;
        font-family: 'Source Sans Pro';
        font-style: normal;
        font-weight: 600;
        font-size: 15.771px;
        line-height: 35px;
        letter-spacing: 0.03em;
    }

    .contactUsFeilds {
        width: 275px;
        height: 25px;
        left: 40px;
        top: 3426px;
        font-family: 'Source Sans Pro';
        font-style: normal;
        font-weight: 400;
        font-size: 8.76168px;
        line-height: 12px;
        color: #646874;
    }

    .contactUsFeilds li {
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .more {
        position: absolute;
        width: 232px;
        height: 186px;
        left: 46px;
        top: 297px;

    }

    .moreHeader {
        width: 55px;
        height: 25px;
        font-family: 'Source Sans Pro';
        font-style: normal;
        font-weight: 600;
        font-size: 15.771px;
        line-height: 30px;
        letter-spacing: 0.03em;
        color: #0E2368;
    }

    .moreFeilds {
        width: 71px;
        height: 20px;
        font-family: 'Source Sans Pro';
        font-style: normal;
        font-weight: 400;
        font-size: 8.76168px;
        line-height: 15px;
        color: #646874;
    }

    .moreFeilds li {
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .socialLinks {
        position: absolute;
        width: 111px;
        height: 20px;
        left: 150px;
        top: 489px;

    }

    .socialLinksHeader {
        width: 129px;
        height: 27px;
        font-family: 'Source Sans Pro';
        font-style: normal;
        font-weight: 600;
        font-size: 18.8433px;
        line-height: 27px;
        letter-spacing: 0.03em;
        color: #0E2368;
        display: none;
    }

    .socialLinksFeilds {
        list-style: none;
        width: 111px;
        height: 20px;
        font-family: 'Source Sans Pro';
        font-style: normal;
        font-weight: 400;
        font-size: 14.6559px;
        line-height: 23px;
        color: #646874;
    }

    .socialLinksFeilds li {
        display: inline-block;
        margin-top: 0px;
        width: 12px;
        height: 12px;
        margin-right: 22px;
    }

    .copyRight {
        position: absolute;
        width: 111px;
        height: 33px;
        left: 133px;
        top: 456px;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 8.76168px;
        line-height: 32px;
        text-align: center;
        color: #828B9C;
    }

    .socialIconPic {
        width: 12px;
        height: 12px;
        object-fit: cover;
    }
}